.section__warning {
    padding-top: 100px;
    margin: 30px;
    font-size: 18px;
    font-weight: 900;
    color: white;
    text-shadow: 2px 1px red;
    padding-left: 20px;
    width: auto;
    background-image: url('../../images/notFound.png');
    background-repeat: no-repeat;
    background-position: 55%;
    background-size: contain;
    height: 100vh;

    &--span {
        padding-left: 50px;
    }
}
@media (min-width: 768px) {
    .section__warning {
        padding-top: 50px;
        margin: 50px;
        font-size: 22px;
        background-position: 50%;
        height: 80vh
    &--span {
        padding-left: 70px;
    }
    }
}
@media (min-width: 1024px) {
    .section__warning {
        padding-top: 150px;
        margin: 100px;
        font-size: 28px;
        background-position: 40%;
        height: 60vh;
        height: 80vh 
        &--span {
            padding-left: 100px;
        }
    }
}