.form__input-text {
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 20px;
    background-color: #ecf0f1;
    color: #444444;
    box-shadow: 3px 2px 4px hsl(29, 93%, 64%);

    &:focus {
        outline: none;
        border: 2px solid salmon;
        box-shadow: 2px 0 5px hsl(122, 63%, 46%);
    }
}