.landing {
    background-image: url('../../images/landing2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__p {
        margin-left: 0 auto;
        margin-bottom: 350px;
        padding: 10px;
        margin-left: 380px;
        background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 5px 5px 5px rgb(153, 151, 151);
        text-decoration: none;
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
    }
    &__title {
        margin-bottom: auto;
        margin-right: 280px;
        margin-top: 180px;
        padding: 10px;
        background: linear-gradient(to right, #000000, #494748, #eaeaea, #f2a14a, #ffae00);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: 5px 5px 5px rgb(153, 151, 151);
        text-decoration: none;
        font-family: 'Indie Flower', cursive;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 45px;
        }
    }
}
@media (min-width: 768px) {
    .landing {
        background-image: url('../../images/landing2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 55%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__p {
            margin-left: 0 auto;
            margin-bottom: 350px;
            padding: 10px;
            margin-left: 380px;
            background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: 5px 5px 5px rgb(153, 151, 151);
            text-decoration: none;
            font-family: 'Indie Flower', cursive;
            font-size: 20px;
            font-weight: 900;
            text-align: center;
            @media (min-width: 1024px) {
                font-size: 30px;
                margin-bottom: 50px;
            }
        }
        &__title {
            margin-bottom: auto;
            margin-right: 280px;
            margin-top: 180px;
            padding: 10px;
            background: linear-gradient(to right, #000000, #494748, #eaeaea, #f2a14a, #ffae00);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-shadow: 5px 5px 5px rgb(153, 151, 151);
            text-decoration: none;
            font-family: 'Indie Flower', cursive;
            font-size: 20px;
            font-weight: 900;
            text-align: center;
            @media (min-width: 1024px) {
                font-size: 70px;
                margin-right: 100px;
                margin-top: 250px;
            }
        }
    }
}



