.btn{
    width: 250px;
    height: 40px;
    border: 2px solid black;
    border-radius: 25px;
    margin-left: 20px;
    background: linear-gradient(rgb(211, 211, 211), rgb(244, 154, 154));
    font-size: 12px;
    font-weight: 700;
    color: black;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    &:hover {
        background: linear-gradient(to right, orange, #ec38bc, #7303c0, cyan);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .btn {
        width: 200px;
        height: 35px;
        font-size: 14px;
    }
}