// .link {
//   text-decoration: none;
//   color: blue;
// }

.login {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.parragraph {
    margin: 10px;
    font-size: 18px;
    padding: 15px;
}

.error {
  color: red;
}
