.login {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
.parragraph {
    margin: 10px;
    font-size: 18px;
    padding: 15px;
}
.error {
  color: red;
}
@media (min-width: 768px) {
  .login {
    padding: 15px;
    border-radius: 15px;
    margin: 20px;
  }
  .parragraph {
    font-size: 20px;
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .login {
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
  }
  .parragraph {
    font-size: 22px;
    padding: 25px;
  }
}